<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BonjourServiceName</key>
	<string>teaservice</string>
	<key>SYNC_URL</key>
	<string>http://172.16.46.100:8080</string>
	<key>HOMEWORK_URL</key>
	<string>http://172.16.46.100:8080</string>
	<key>PUBLIC_HOMEWORK_URL</key>
	<string>http://172.16.46.100:8080</string>
	<key>SYNC_ENABLED</key>
	<true/>
	<key>HOMEWORK_ENABLED</key>
	<false/>
	<key>uploadURL</key>
	<string>http://192.168.2.50:8080/upload.jsp</string>
	<key>EXCEPTION_ENABLED</key>
	<true/>
	<key>EXCEPTION_POST_URL</key>
	<string>http: 172.16.46.100:8080</string>
	<key>NOTEBOOK_SYNC_UPLOAD_URL</key>
	<string>http://172.16.46.100:8080/syncNotebookUpload.jsp</string>
	<key>ProtocolRemoteURL</key>
	<string>http://www.ulu.web.tr/Service/EU/protocol.php</string>
</dict>
</plist>
